In [23]:
import pandas as pd
import numpy as np
import sklearn



data =pd.read_csv('titanic.csv')
print(data.head())
df_label = data.copy()

   survived  pclass     sex   age  sibsp  parch     fare embarked  class  \
0         0       3    male  22.0      1      0   7.2500        S  Third
1         1       1  female  38.0      1      0  71.2833        C  First
2         1       3  female  26.0      0      0   7.9250        S  Third
3         1       1  female  35.0      1      0  53.1000        S  First
4         0       3    male  35.0      0      0   8.0500        S  Third

     who  adult_male deck  embark_town alive  alone
0    man        True  NaN  Southampton    no  False
1  woman       False    C    Cherbourg   yes  False
2  woman       False  NaN  Southampton   yes   True
3  woman       False    C  Southampton   yes  False
4    man        True  NaN  Southampton    no   True

In [24]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
# df_label['Gender_Encoded'] = le.fit_transform(df_label['sex'])
# df_label['Who_Encoded'] = le.fit_transform(df_label['who'])
# df_label['Adult_Male_Encoded'] = le.fit_transform(df_label['adult_male'])
# df_label['Alive_Encoded'] = le.fit_transform(df_label['alive'])
# df_label['Alone_Encoded'] = le.fit_transform(df_label['alone'])

# print(df_label[['sex','Gender_Encoded','who','Who_Encoded','adult_male','Adult_Male_Encoded','alive','Alive_Encoded','alone','Alone_Encoded']].head())

In [34]:
from sklearn.preprocessing import OneHotEncoder

df_encoded = pd.get_dummies(df_label, columns=['embark_town'])
print("One Hot Encoded DataFrame:")
print(df_encoded)

One Hot Encoded DataFrame:
     survived  pclass     sex   age  sibsp  parch     fare embarked   class  \
0           0       3    male  22.0      1      0   7.2500        S   Third
1           1       1  female  38.0      1      0  71.2833        C   First
2           1       3  female  26.0      0      0   7.9250        S   Third
3           1       1  female  35.0      1      0  53.1000        S   First
4           0       3    male  35.0      0      0   8.0500        S   Third
..        ...     ...     ...   ...    ...    ...      ...      ...     ...
886         0       2    male  27.0      0      0  13.0000        S  Second
887         1       1  female  19.0      0      0  30.0000        S   First
888         0       3  female   NaN      1      2  23.4500        S   Third
889         1       1    male  26.0      0      0  30.0000        C   First
890         0       3    male  32.0      0      0   7.7500        Q   Third

       who  adult_male deck alive  alone  embark_town_Cherbourg  \
0      man        True  NaN    no  False                  False
1    woman       False    C   yes  False                   True
2    woman       False  NaN   yes   True                  False
3    woman       False    C   yes  False                  False
4      man        True  NaN    no   True                  False
..     ...         ...  ...   ...    ...                    ...
886    man        True  NaN    no   True                  False
887  woman       False    B   yes   True                  False
888  woman       False  NaN    no  False                  False
889    man        True    C   yes   True                   True
890    man        True  NaN    no   True                  False

     embark_town_Queenstown  embark_town_Southampton
0                     False                     True
1                     False                    False
2                     False                     True
3                     False                     True
4                     False                     True
..                      ...                      ...
886                   False                     True
887                   False                     True
888                   False                     True
889                   False                    False
890                    True                    False

[891 rows x 17 columns]

In [35]:
print(df_encoded.iloc[:, -5:].head())

  alive  alone  embark_town_Cherbourg  embark_town_Queenstown  \
0    no  False                  False                   False
1   yes  False                   True                   False
2   yes   True                  False                   False
3   yes  False                  False                   False
4    no   True                  False                   False

   embark_town_Southampton
0                     True
1                    False
2                     True
3                     True
4                     True

In [42]:
from sklearn.preprocessing import StandardScaler, MinMaxScaler
scalar = StandardScaler()
X_scaled = scalar.fit_transform(df_encoded.select_dtypes(include=[np.number]))


scalar = MinMaxScaler()
X_scaled = scalar.fit_transform(df_encoded.select_dtypes(include=[np.number]))

In [46]:
import pandas as pd
from sklearn.preprocessing import StandardScaler

data = {
    'study_hours': [2.5, 5.0, 3.5, 4.0, 1.0, 6.0, 2.0, 7.5, 3.0, 4.5],
    'test_scores': [30, 50, 40, 45, 20, 60, 25, 70, 35, 55]
}

df = pd.DataFrame(data)

scaler = StandardScaler()
scaled_data = scaler.fit_transform(df)

print("Standard Scaled Output:")
print(pd.DataFrame(scaled_data, columns=df.columns))

MinMax_Scaler = MinMaxScaler()
MinMax_Scaler = MinMax_Scaler.fit_transform(df)
print("Min-Max Scaled Output:")
print(pd.DataFrame(MinMax_Scaler, columns=df.columns))

Standard Scaled Output:
   study_hours  test_scores
0    -0.760376    -0.855337
1     0.597438     0.460566
2    -0.217250    -0.197386
3     0.054313     0.131590
4    -1.575064    -1.513289
5     1.140563     1.118518
6    -1.031938    -1.184313
7     1.955252     1.776470
8    -0.488813    -0.526361
9     0.325875     0.789542
Min-Max Scaled Output:
   study_hours  test_scores
0     0.230769          0.2
1     0.615385          0.6
2     0.384615          0.4
3     0.461538          0.5
4     0.000000          0.0
5     0.769231          0.8
6     0.153846          0.1
7     1.000000          1.0
8     0.307692          0.3
9     0.538462          0.7

In [49]:
X = df[['study_hours']]
y = df['test_scores']
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)   
print("X_train:")
print(X_train)
print("X_test:")
print(X_test)
print("y_train:")
print(y_train)
print("y_test:")
print(y_test)

X_train:
   study_hours
5          6.0
0          2.5
7          7.5
2          3.5
9          4.5
4          1.0
3          4.0
6          2.0
X_test:
   study_hours
8          3.0
1          5.0
y_train:
5    60
0    30
7    70
2    40
9    55
4    20
3    45
6    25
Name: test_scores, dtype: int64
y_test:
8    35
1    50
Name: test_scores, dtype: int64